.FormContainer {
  padding: 100px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgb(0 0 0 0.12), 0 1px 2px rgb(0 0 0 0.24);
}

.form-group {
  margin: 10px;
}
.alert {
  margin-top: 5px;
}
